*
{   
 margin-left: 0px;
 padding-left: 0px;
 font-family: tahoma;
 color: black;
}

#header
{
	border-bottom: solid 2px #DB2927;
}
#pic
{
	background: url("logo.png");
	height: 80px;
	width: 200px;
	background-repeat: no-repeat;
}

#top_text
{   font-size: 13px;
	position: absolute;
	top: 50px;
	right: 15px;
	float: right;
}

#top_text span
{
	color: #045198;
}

#heading
{
	margin-left: 350px;
	margin-top: 10px;
	font-size: 18px;
	color: #2c286d;
}

#form 
{
	background-color: #ececec;
	margin-left: 350px;
	margin-top: 10px;
        width: 500px;
        padding: 20px 25px 20px 25px;
        border: solid 1px #bcbcbc;

}

#form span
{       display: inline-block;
	font-size: 14px;
	vertical-align: top;
	width: 80px;
       text-align: right;
       padding-right: 20px;
}



input
{       display: inline-block;
	background-color: white;
	border: solid 1px #b9b9b9;
	width: 360px;
	height: 25px;
}

#male, #female
{
	border: none;
	width: 15px;
	margin-left: 25px;
	height: 12px;
}

select
{
	width: 110px;
	background-color: white;
	font-size: 13px;
	color: 6f6f6f;
	margin-right: 5px;
}

textarea
{
	background-color: white;
	border: solid 1px #b9b9b9;
	width: 360px;
	height:135px;
}

button
{
	background-color: #dc2927;
	border: solid 1px #a10200;
	width: 130px;
	height: 32px;
	text-align: center;
	font-size: 14px;
	color: white;
	margin-left: 100px;
}
