* {
 margin-left: 0px;
 padding-left: 0px;
 font-family: tahoma;
 color:black;

  }

#outer
{
  position: relative;
}

#header, #footer 
{
  
  background:#b2e7ff;
  width: 1000px;
  font-size:24px;
  text-align:center;
  border-bottom: solid 2px #0ab1ff;
  padding-top: 10px;
}

#navig
{
 width: 250px;
 box-sizing:border-box;
 background-color: #0ab1ff;
 padding: 25px 10px 25px 10px;
}

#section
{
 width: 750px;
 position: absolute;
 top: 0px;
 bottom: 0px;
 left: 250px;
 box-sizing:border-box;
 background-color: #ededed;
 padding: 25px;
 font-size: 24px;
}

#navig #heading
{
  font-size: 18px;
}

#navig #links
{
  font-size: 14px;
  color: white;
}

#navig #paragraph
{
  font-size: 12px;
}



#section #paragraph
{
  font-size: 14px;
  color: #802525;
}

#footer
{
  background-color: #3cff78;
  clear: left;
}


