* {
 margin-left: 0px;
 padding-left: 0px;
 font-family: tahoma;
 color:black;

  }

#outer1
{
  float: left;
  width: 1000px;
  background: #0ab1ff;
  overflow: hidden;
  position: relative;
}

#outer2
{
  float: left;
  width: 1000px;
  background: #ededed;
  position: relative;
  left: 250px;
}

#header, #footer 
{
  
  background:#b2e7ff;
  width: 1000px;
  font-size:24px;
  text-align:center;
  border-bottom: solid 2px #0ab1ff;
  padding-top: 10px;
}

#navig
{
 float:left;
 width: 250px;
 box-sizing:border-box;
 position: relative;
 right: 230px;
 padding: 25px 30px 25px 10px;
}

#section
{
 float: left;
 width: 750px;
 position: relative;
 right: 250px;
 box-sizing:border-box;
 padding: 25px;
 font-size: 24px;
}

#navig #heading
{
  font-size: 18px;
}

#navig #links a
{
  font-size: 14px;
  color: white;
}

#navig #paragraph
{
  font-size: 12px;
}



#section #paragraph
{
  font-size: 14px;
  color: #802525;
}

#footer
{
  background-color: #3cff78;
  clear: left;
}


