a:link, a:visited, a:hover  { text-decoration: none;
                            }


ul { margin-left: 0px;
    padding-left: 0px;
      }

li{ 
    display: inline-block;
    position: static;
    background-color: #cfcfcf;
    border-bottom: solid 1px #6d6d6d;
    height: 37px;
    margin-left: 2px;
    padding-left: 20px;
    padding-right: 20px;
    }
     
ul:first-child {
                margin-left: 0px;
                }


li a {  
       font-family: Georgia;
       font-size: 18px;
       font-style: italic;
       color: black;
      }

li:hover  { 
            background-color: white;
            border-top: solid 1px black;
            border-right:solid 1px black;
            border-left: solid 1px black;
           }

li:hover li{
            background-color: white;
            border: none;
            border-bottom: solid 1px black;
            }
       
ul li ul li:last-child { border-bottom: 0px;}

ul  ul { 
           display: none;
           padding-top:5px;
           padding-bottom: 5px;
           padding-left: 5px;
           margin-top: 16px;
           margin-left: -21px;
           width: 200px;
           border: solid 1px black;
           }

ul li ul a{
           font-size: 14px;
          }

li:hover a { color :grey;}
li:hover li a {color: black;}
li li:hover a {color: #bd0707;}

ul li:hover ul {  display: block;
                  position: absolute;
                }